<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Blog DB - Vue.js</title>
</head>
<body>
  <div id="app">
    <div class="blog_header">
      <center>
        <h3>{{ pageTitle }}</h3>
      </center>
    </div>
    <div class="main">
      <br>
      <form @submit.prevent="saveBlog" id="blog_form">
        <input type="hidden" v-model="blogId">
        <input type="text" v-model="blogTitle" placeholder="ชื่อ Blog"><br>
        <br><textarea v-model="blogContent" placeholder="เนื้อหา Blog" rows="10" cols="50"></textarea><br>
        <input type="hidden" v-model="blogCreationTime">
        <button type="submit">บันทึก</button>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="addeditblog.js"></script>
</body>
</html>
