<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Blog DB - Vue.js</title>
</head>
<body>
  <div id="app">
    <h1>{{ pageTitle }}</h1>
    <hr />
    <button @click="goToAddEditBlog">Add Blog</button>
    <hr />
    <div v-if="sortedBlogs.length === 0">
      <p>No blogs found.</p>
    </div>
    <div v-else>
      <select v-model="sortByTime">
        <option value="newest">Newest First</option>
        <option value="oldest">Oldest First</option>
      </select>
      <div v-for="blog in sortedBlogs" :key="blog.id" class="blog-item">
        <h3>{{ blog.title }}</h3>
        <p>{{ blog.content }}</p>
        <button @click="deleteBlog(blog.id)">Delete</button>
        <button @click="editBlog(blog.id)">Edit</button>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="index.js"></script>
</body>
</html>
